<li class="product">
    <div class="product-contents jai-card">
        <div class="product-image jai-card__image-wrapper">
            <a href="#">
                <img src="assets/img/products/1.png" alt="Product" class="jai-card__image">
            </a>
        </div>
        <div class="product-caption jai-card__content">
            <div class="product-tags">
                <a href="#">Tag 1</a>
                <a href="#">Tag 2</a>
            </div>
            <h4 class="product-title jai-card__title">
                <a href="#">Product Title</a>
            </h4>
            <div class="price jai-card__text">
                <span>Description or Price</span>
            </div>
        </div>
    </div>
</li>