/* Main CSS Entry Point */
@import url('base/typography.css');
@import url('base/reset.css');
@import url('utilities/utilities.css');
@import url('components/button.css');
@import url('components/card.css');
@import url('components/timeline.css');
@import url('components/marquee.css');
@import url('layout/header.css');
@import url('layout/footer.css');

/* Overrides */
.se-pre-con {
    background: url(../../images/preloader.gif) center no-repeat #fff;
}